.clearfix:after,
.row:after{
  content: "";
  clear: both;
  display: table;
}

[class*='col-']{
  float: left;
  width: 100%;
  margin-bottom:24px;
}

@media screen and (min-width: 930px) {
  [class*='col-']{margin-right: 2%}
  .col-1-4{width : 23.5%;}
  .col-2-4{width : 49.0%;}
  .col-3-4{width : 64.5%;}
  .col-4-4{width : 100.%;}
  .col-1-5{width : 18.4%;}
  .col-2-5{width : 38.8%;}
  .col-3-5{width : 59.2%;}
  .col-4-5{width : 79.6%;}
  .col-5-5{width : 100.%;}
  [class*='col-']:last-of-type{margin-right:0}
  .row+.row { margin-top: 0.5em;}
}

html {height: 100%;}
body {line-height: 1.5;}

h1, h2, h3, h4, h5, h6 {font-weight:bold;}

h1 {font-size: 2em;}
h2 {font-size: 1.4em;}
