.clearfix:after,
.row:after{
  content: "";
  clear: both;
  display: table;
}

[class*='col-']{
  float: left;
  width: 100%;
  margin-bottom:24px;
}

@media screen and (min-width: 930px) {
  [class*='col-']{margin-right: 2%}
  .col-1-4{width : 23.5%;}
  .col-2-4{width : 49.0%;}
  .col-3-4{width : 64.5%;}
  .col-4-4{width : 100.%;}
  [class*='col-']:last-of-type{margin-right:0}
  .row+.row { margin-top: 0.5em;}
}

html {height: 100%;}
body {line-height: 1.5;}

h1{font-size: 3.33em; line-height: 1.351; margin-bottom: 0.45em}
h2{font-size: 2.618em; line-height: 1.146; margin-bottom: 0.573em}
h3{font-size: 2.058em; line-height: 1.458; margin-bottom: 0.729em}
h4{font-size: 1.618em; line-height: 1.854; margin-bottom: 0.927em}
h5{font-size: 1.272em; line-height: 1.179; margin-bottom: 1.179em}
h6{font-size: 1.em; line-height: 1.5; margin-bottom: 1.5em}

h1, h2, h3, h4, h5, h6 {font-weight:bold;margin-bottom:24px;}
