body {
  box-sizing: border-box;
  background-color:#000;
}

#container {
  font-family: 'Lato', sans-serif;
  margin: 0.5em 1em 1em;
  color: #DDDDDD;
}

/*
a {
  text-decoration: none;
}

a:link {
  color: rgb(217,8,102);
}

a:visited {
  color: rgb(67,65,95);
}
*/
.rel-img {
  position: relative;
  text-align: center;
  margin-bottom: 1em;
}


.rel-img img {
  width: 100%;
  height: auto;
  opacity: 0.60;
}

.bottom-center {
  position: absolute;
  width: 80%;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
}

.square ol {
  margin-top: 0.5em;
  list-style-type: disc;
  padding-left: 1em;
}

.square h4 {
  border-radius: 25px;
  padding: 0.5em 2em 0.5em 2em;
  margin-bottom: 0em;
  background: #D90866;
  font-size: 1.2em;
}

#main-info {text-align: justify; margin-bottom: 24px;}

hr {
  display: block;
  border: 0;
  height: 1px;
  border-top: 1px solid #DDDDDD;
}

@media screen and (min-width: 930px) {

  .rel-img {
    position: static;
    text-align: left;
  }

  .rel-img img {
    float: left;
    border-radius: 10%;
    width: 40%;
    height: auto;
    opacity: 1.0;
    margin-right: 2%;
  }

  .bottom-center {
    position: static;    
    transform: translate(0,0);
  }
/*
  .bottom-center h1 {
    margin-bottom: 0.3em;
  }

  .bottom-center h2 {
    margin-top: 0.3em;
    margin-bottom: 0.4em;
  }
  */

  #main-info {
    width: 70%;
  }
  /*
  #main-info p {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    font-size: 0.9em;
  }

  #main-info p+p {
    margin-top: 0.2em;
  }
*/
  #main-info:after {
    content: "";
    clear: both;
    display: table;
  }


}

@media screen and (min-width: 1000px) {

  #container{
    width: 1000px;
    margin: auto;
  }

}
